@import './variables';
@import './mixins';

/*--------------------------------------------------------------
# General Styling & Shared Classes
--------------------------------------------------------------*/
body {
  color: var(--default-color);
  background-color: var(--background-color);
  font-family: var(--default-font);
}

a {
  color: var(--accent-color);
  text-decoration: none;
  transition: 0.3s;

  &:hover {
    color: color-mix(in srgb, var(--accent-color), transparent 50%);
    text-decoration: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
  font-family: var(--heading-font);
}

/*--------------------------------------------------------------
# Global Header
--------------------------------------------------------------*/
.header {
  color: var(--default-color);
  background-color: var(--background-color);
  padding: 10px 0;
  transition: all 0.5s;
  z-index: 997;
  box-shadow: 0px 0 18px rgba(0, 0, 0, 0.1);

  .logo {
    line-height: 1;

    img {
      max-height: 36px;
      margin-right: 8px;
    }

    h1 {
      font-size: 20px;
      font-family: "Grey Qo", cursive;
      font-optical-sizing: auto;
      // font-family: "Courgette", cursive;
      font-weight: 400;
      font-style: normal;
      font-family: "Merienda", cursive;
      margin: 0;
      font-weight: bold;
      // text-transform: uppercase;
      color: var(--logo-color);
      transition: 0.3s;

      &:hover {
        color: color-mix(in srgb, var(--logo-color), transparent 50%);
      }
    }
  }

  .header-social-links {
    padding-right: 15px;

    a {
      color: color-mix(in srgb, var(--accent-color), transparent 40%);
      color: var(--accent-color);
      padding-left: 6px;
      display: inline-block;
      transition: 0.3s;
      font-size: 16px;

      &:hover {
        color: color-mix(in srgb, var(--accent-color), transparent 50%);
      }

      i {
        line-height: 0px;
      }
    }
  }
}

@media (max-width: 1200px) {
  .header {
    .logo {
      order: 1;
    }

    .header-social-links {
      order: 2;
    }

    .navmenu {
      order: 3;
    }
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
@media (min-width: 1200px) {
  .navmenu {
    padding: 0;

    ul {
      margin: 0;
      padding: 0;
      display: flex;
      list-style: none;
      align-items: center;
    }

    li {
      position: relative;
    }

    > ul > li {
      white-space: nowrap;
      padding: 15px 14px;

      &:last-child {
        padding-right: 0;
      }
    }

    a {
      color: var(--nav-color);
      font-size: 15px;
      padding: 0 2px;
      font-family: var(--nav-font);
      font-weight: 400;
      display: flex;
      align-items: center;
      justify-content: space-between;
      white-space: nowrap;
      transition: 0.3s;
      position: relative;

      &:focus {
        color: var(--nav-color);
        font-size: 15px;
        padding: 0 2px;
        font-family: var(--nav-font);
        font-weight: 400;
        display: flex;
        align-items: center;
        justify-content: space-between;
        white-space: nowrap;
        transition: 0.3s;
        position: relative;
      }

      i, &:focus i {
        font-size: 12px;
        line-height: 0;
        margin-left: 5px;
        transition: 0.3s;
      }

      &:hover:before {
        visibility: visible;
        width: 25px;
      }
    }

    > ul > li > a:before {
      content: "";
      position: absolute;
      height: 2px;
      bottom: -6px;
      left: 0;
      background-color: var(--nav-hover-color);
      visibility: hidden;
      width: 0px;
      transition: all 0.3s ease-in-out 0s;
    }

    li:hover > a:before, .active:before {
      visibility: visible;
      width: 25px;
    }

    li:hover > a {
      color: var(--nav-hover-color);
    }

    .active {
      color: var(--nav-hover-color);

      &:focus {
        color: var(--nav-hover-color);
      }
    }

    .dropdown {
      ul {
        margin: 0;
        padding: 10px 0;
        background: var(--nav-dropdown-background-color);
        display: block;
        position: absolute;
        visibility: hidden;
        left: 14px;
        top: 130%;
        opacity: 0;
        transition: 0.3s;
        border-radius: 4px;
        z-index: 99;
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);

        li {
          min-width: 200px;
        }

        a {
          padding: 10px 20px;
          font-size: 15px;
          text-transform: none;
          color: var(--nav-dropdown-color);

          i {
            font-size: 12px;
          }

          &:hover {
            color: var(--nav-dropdown-hover-color);
          }
        }

        .active:hover, li:hover > a {
          color: var(--nav-dropdown-hover-color);
        }
      }

      &:hover > ul {
        opacity: 1;
        top: 100%;
        visibility: visible;
      }

      .dropdown {
        ul {
          top: 0;
          left: -90%;
          visibility: hidden;
        }

        &:hover > ul {
          opacity: 1;
          top: 0;
          left: -100%;
          visibility: visible;
        }
      }
    }
  }
}


/* Mobile Navigation */
@media (max-width: 1199px) {
  .mobile-nav-toggle {
    color: var(--nav-color);
    font-size: 28px;
    line-height: 0;
    margin-right: 10px;
    cursor: pointer;
    transition: color 0.3s;
  }

  .navmenu {
    padding: 0;
    z-index: 9997;

    ul {
      display: none;
      list-style: none;
      position: absolute;
      inset: 60px 20px 20px 20px;
      padding: 10px 0;
      margin: 0;
      border-radius: 6px;
      background-color: var(--nav-mobile-background-color);
      border: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
      box-shadow: none;
      overflow-y: auto;
      transition: 0.3s;
      z-index: 9998;
    }

    a {
      color: var(--nav-dropdown-color);
      padding: 10px 20px;
      font-family: var(--nav-font);
      font-size: 17px;
      font-weight: 500;
      display: flex;
      align-items: center;
      justify-content: space-between;
      white-space: nowrap;
      transition: 0.3s;

      &:focus {
        color: var(--nav-dropdown-color);
        padding: 10px 20px;
        font-family: var(--nav-font);
        font-size: 17px;
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: space-between;
        white-space: nowrap;
        transition: 0.3s;
      }

      i, &:focus i {
        font-size: 12px;
        line-height: 0;
        margin-left: 5px;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        transition: 0.3s;
        background-color: color-mix(in srgb, var(--accent-color), transparent 90%);
      }

      i:hover, &:focus i:hover {
        background-color: var(--accent-color);
        color: var(--contrast-color);
      }

      &:hover {
        color: var(--nav-dropdown-hover-color);
      }
    }

    .active {
      color: var(--nav-dropdown-hover-color);

      &:focus {
        color: var(--nav-dropdown-hover-color);
      }

      i, &:focus i {
        background-color: var(--accent-color);
        color: var(--contrast-color);
        transform: rotate(180deg);
      }
    }

    .dropdown {
      ul {
        position: static;
        display: none;
        z-index: 99;
        padding: 10px 0;
        margin: 10px 20px;
        background-color: var(--nav-dropdown-background-color);
        transition: all 0.5s ease-in-out;

        ul {
          background-color: rgba(33, 37, 41, 0.1);
        }
      }

      > .dropdown-active {
        display: block;
        background-color: rgba(33, 37, 41, 0.03);
      }
    }
  }

  .mobile-nav-active {
    overflow: hidden;

    .mobile-nav-toggle {
      color: #fff;
      position: absolute;
      font-size: 32px;
      top: 15px;
      right: 15px;
      margin-right: 0;
      z-index: 9999;
    }

    .navmenu {
      position: fixed;
      overflow: hidden;
      inset: 0;
      background: rgba(33, 37, 41, 0.8);
      transition: 0.3s;

      > ul {
        display: block;
      }
    }
  }
}

/*--------------------------------------------------------------
# Global Footer
--------------------------------------------------------------*/
.footer {
  color: var(--nav-color);
  background-color: var(--background-color);
  font-size: 14px;
  padding: 40px 0;
  position: relative;

  .copyright p {
    margin-bottom: 0;
  }

  .social-links {
    margin-top: 20px;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 1px solid color-mix(in srgb, var(--accent-color), transparent 10%);
      font-size: 16px;
      color: color-mix(in srgb, var(--accent-color), transparent 10%);
      margin: 0 5px;
      transition: 0.3s;

      &:hover {
        color: color-mix(in srgb, var(--accent-color), transparent 50%);
        border-color: var(--nav-hover-color);
      }
    }
  }

  .credits {
    margin-top: 10px;
    font-size: 13px;
    text-align: center;
  }
}

/*--------------------------------------------------------------
# <Footer /> component always appears at the bottom of the page
--------------------------------------------------------------*/
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1;
}

footer {
  /* Optional: styling for the footer */
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Scroll Top Button
--------------------------------------------------------------*/
.scroll-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: -15px;
  z-index: 99999;
  background-color: var(--accent-color);
  width: 44px;
  height: 44px;
  border-radius: 50px;
  transition: all 0.4s;

  i {
    font-size: 36px;
    color: var(--contrast-color);
    line-height: 0;
  }

  &:hover {
    background-color: color-mix(in srgb, var(--accent-color), transparent 20%);
    color: var(--contrast-color);
  }

  &.active {
    visibility: visible;
    opacity: 1;
    bottom: 15px;
  }
}

/*--------------------------------------------------------------
# Global Sections
--------------------------------------------------------------*/
section, .section {
  color: var(--default-color);
  background-color: var(--background-color);
  padding: 50px 0;
  scroll-margin-top: 100px;
  overflow: clip;
}

@media (max-width: 1199px) {
  section, .section {
    scroll-margin-top: 66px;
  }
}

/*--------------------------------------------------------------
# Global Section Titles
--------------------------------------------------------------*/
.section-title {
  text-align: center;
  // padding-bottom: 60px;
  position: relative;

  h2 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      display: block;
      width: 50px;
      height: 3px;
      background: var(--accent-color);
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
    }
  }

  p {
    margin-bottom: 0;
  }
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero {
  width: 100%;
  min-height: calc(100vh - 82px);
  position: relative;
  padding: 80px 0;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    position: absolute;
    inset: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }

  .zoom-out {
    transform: scale(1.2); /* Start with a slightly larger scale */
    opacity: 0; /* Start with full transparency */
    animation: zoomOutAnimation 1.5s forwards;
  }

  @keyframes zoomOutAnimation {
    to {
      transform: scale(1); /* End at normal scale */
      opacity: 1; /* End at full opacity */
    }
  }

  .container {
    position: relative;
    z-index: 3;
  }

  h2 {
    margin: 0;
    font-family: "Merienda", cursive;
    font-family: "Courgette", cursive;
    font-optical-sizing: auto;
    font-size: 48px;
    font-weight: 700;
  }

  p {
    margin: 10px 0 0 0;
    font-family: "Merienda", cursive;
    // font-family: "Courgette", cursive;
    // font-optical-sizing: auto;
    font-size: 24px;
    color: var(--heading-color);
  }

  .btn-get-started {
    color: var(--contrast-color);
    background: var(--accent-color);
    font-family: var(--heading-font);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 40px;
    border-radius: 50px;
    transition: 0.5s;
    margin-top: 30px;

    &:hover {
      background: color-mix(in srgb, var(--accent-color) 90%, white 20%);
    }
  }
}

@media (max-width: 1200px) {
  .hero {
    min-height: calc(100vh - 68px);
  }
}

@media (max-width: 768px) {
  .hero {
    h2 {
      font-size: 32px;
    }

    p {
      font-size: 18px;
    }
  }
}

#hero {
  width: 100%;
  // height: 100vh;
  background: #000;
  overflow: hidden;
  position: relative;
  min-height: calc(100vh - 72px);


  .carousel,
  .carousel-inner {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }

  .carousel-item {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &::before {
      // position: absolute;
      // top: 0;
      // right: 0;
      // left: 0;
      // bottom: 0;
      // content: "";
      // background-color: rgba(0, 0, 0, 0.7);
      --background-color: #000000;
      --default-color: #ffffff;
      --heading-color: #ffffff;
      width: 100%;
      position: relative;
      padding: 60px 0;
      display: flex;
      align-items: center;
      justify-content: center;
      content: "";
      position: absolute;
      inset: 0;
      z-index: 2;
    }
  }
  .carousel-item.transparent-40 {
    &::before {
      background: color-mix(in srgb, var(--background-color), transparent 40%);
    }
  }
  .carousel-item.transparent-60 {
    &::before {
      background: color-mix(in srgb, var(--background-color), transparent 60%);
    }
  }
  .carousel-item.transparent-90 {
    &::before {
      background: color-mix(in srgb, var(--background-color), transparent 90%);
    }
  }

  .carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    // top: 70px;
    // left: 50px;
    // right: 50px;
    top: 0;
    left: 0;
    right: 0;
  }

  .container {
    text-align: center;
    position: absolute;
    bottom: 20px; /* Adjust as needed */
  }

  h2 {
    color: #fff;
    margin-bottom: 15px;
    font-size: 60px;
    font-weight: 600;
  }

  p {
    width: 80%;
    margin: 0 auto 30px auto;
    color: #fff;
  }

  .carousel-fade {
    overflow: hidden;

    .carousel-inner {
      .carousel-item {
        transition-property: opacity;
        opacity: 0;
      }

      .active {
        opacity: 1;
        transition: 0.5s;

        &.carousel-item-start,
        &.carousel-item-end {
          opacity: 0;
        }
      }

      .carousel-item-next.carousel-item-start,
      .carousel-item-prev.carousel-item-end {
        opacity: 1;
        transition: 0.5s;
      }

      .carousel-item-next,
      .carousel-item-prev {
        left: 0;
        transform: translate3d(0, 0, 0);
      }

      .active {

        &.carousel-item-start,
        &.carousel-item-end {
          left: 0;
          transform: translate3d(0, 0, 0);
        }
      }
    }
  }

  .carousel-control-prev,
  .carousel-control-next {
    width: 10%;
  }

  .carousel-control-next-icon,
  .carousel-control-prev-icon {
    // background: none;
    font-size: 32px;
    line-height: 1;
  }

  .carousel-indicators li {
    cursor: pointer;
    list-style-type: none;
  }

  .btn-get-started {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 32px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px;
    color: #fff;
    background: #18d26e;

    &:hover {
      background: #fff;
      color: #18d26e;
    }
  }
}

@media (max-height: 500px) {
  #hero {
    height: 150vh;
  }
}

@media (max-width: 768px) {
  #hero h2 {
    font-size: 28px;
  }
}

@media (min-width: 1024px) {
  #hero p {
    width: 60%;
  }
}

@media (min-width: 1024px) {
  #hero {

    .carousel-control-prev,
    .carousel-control-next {
      width: 5%;
    }
  }
}

/*--------------------------------------------------------------
# Gallery Section
--------------------------------------------------------------*/
.gallery {
  .gallery-filters {
    padding: 0;
    margin: 0 auto 20px auto;
    list-style: none;
    text-align: center;
    display: flex;
    justify-content: center; /* or space-between, space-around */
    flex-wrap: wrap;
    gap: 10px; /* Add space between the buttons */

    li {
      cursor: pointer;
      display: inline-block;
      padding: 8px 20px 10px 20px;
      margin: 0;
      font-size: 15px;
      font-weight: 500;
      line-height: 1;
      margin-bottom: 5px;
      border-radius: 50px;
      transition: all 0.3s ease-in-out;
      font-family: var(--heading-font);

      &:hover, &.filter-active {
        color: var(--contrast-color);
        background-color: var(--accent-color);
      }

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .gallery-item {
    position: relative;
    overflow: hidden;
    
    img {
      box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.4);
    }

    .gallery-info {
      opacity: 0;
      position: absolute;
      left: 12px;
      right: 12px;
      bottom: -100%;
      z-index: 3;
      transition: all ease-in-out 0.5s;
      background: color-mix(in srgb, var(--surface-color), transparent 10%);
      padding: 15px;

      h4 {
        font-size: 18px;
        font-weight: 600;
        // padding-right: 50px;
        padding-right: 35px;
        margin-bottom: 0.2rem;
      }

      p {
        color: color-mix(in srgb, var(--default-color), transparent 30%);
        font-size: 14px;
        margin-bottom: 0;
        // padding-right: 50px;
        padding-right: 35px;
      }

      .preview-link, .details-link {
        position: absolute;
        // right: 50px;
        right: 14px;
        font-size: 24px;
        top: calc(50% - 14px);
        color: color-mix(in srgb, var(--default-color), transparent 30%);
        transition: 0.3s;
        line-height: 0;
      }

      .preview-link:hover {
        color: var(--accent-color);
      }

      .details-link {
        right: 14px;
        font-size: 28px;
        &:hover {
          color: var(--accent-color);
        }
      }
    }

    &:hover .gallery-info {
      opacity: 1;
      bottom: 0;
    }
  }
}

@media (max-width: 575px) {
  .gallery .gallery-filters li {
    font-size: 14px;
    margin: 0 0 10px 0;
  }
}
